name: Build
run-name: Build with rk3566 buildroot

on:
  workflow_dispatch:
    inputs:
      launchpad:
        description: use launchpad
        required: true
        default: false
        type: boolean

jobs:
  build:
    runs-on: ubuntu-22.04

    strategy:
      matrix:
        platform:
          - rk3566

    steps:
      - name: Get more disk space
        uses: easimon/maximize-build-space@master
        with:
          root-reserve-mb: 1024
          swap-size-mb: 1024
          remove-dotnet: 'true'
          remove-android: 'true'
          remove-haskell: 'true'
          remove-codeql: 'true'
          remove-docker-images: 'true'

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Checkout LFS
        shell: bash
        run: git lfs fetch && git lfs checkout

      - name: Install dependencies
        shell: bash
        run: |
          sudo apt-get update && \
          sudo apt-get install -y \
          git git-lfs ssh make gcc libssl-dev liblz4-tool expect g++ patchelf chrpath gawk texinfo \
          diffstat software-properties-common bison flex fakeroot cmake gcc-multilib \
          g++-multilib unzip device-tree-compiler libncurses-dev python3-pip file \
          python3-pyelftools bc build-essential zlib1g-dev libbz2-dev libreadline-dev \
          libsqlite3-dev wget curl llvm libncursesw5-dev xz-utils tk-dev libxml2-dev \
          libxmlsec1-dev libffi-dev liblzma-dev uuid-dev libbluetooth-dev u-boot-tools \
          rsync libmpc-dev bsdmainutils python2 gettext qemu-user-static binfmt-support \
          live-build xxd sudo time && git lfs install
  
      - name: Enable qemu-aarch64
        shell: bash
        run: |
          sudo update-binfmts --enable qemu-aarch64

      - name : Rebuild live-build
        shell: bash
        run: |
          sudo apt-get remove live-build
          pushd /tmp && \
          git clone https://salsa.debian.org/live-team/live-build.git --depth 1 -b debian/1%20230131 && \
          cd live-build && \
          rm -rf manpages/po/ && \
          sudo make install && \
          popd

      - name: Install repo
        shell: bash
        run: |
          mkdir -p ~/.bin && \
          sudo curl https://storage.googleapis.com/git-repo-downloads/repo -o ~/.bin/repo && \
          sudo cp ~/.bin/repo /usr/bin/repo && sudo chmod a+x /usr/bin/repo

      - name: download code
        shell: bash
        run: |
          echo y | repo init -u https://github.com/mixtile-rockchip/manifests \
            -b rk3566-rk3568-rkr6 \
            -m rk3566_rk3568_linux6.1_release.xml && \
          repo sync -c && \
          repo forall -c 'if [ -d .git ]; then echo "===> $REPO_PATH"; git lfs install --local; git lfs pull || true; fi'

      - name: Build image
        shell: bash
        run: |
          echo '3' > input.txt && \
          sudo ./build.sh chip < input.txt && sudo rm input.txt && \
          sudo ./build.sh all

      - name: xz image
        shell: bash
        run: |
          pushd ./output/update/Image && \
          sudo xz -4 --force --quiet --threads=0 update.img && \
          popd

      - name: Upload RK Image image
        uses: actions/upload-artifact@v4
        with:
          name: image-release-rockchip-format-mixtile-rk3566-buildroot
          path: ./output/update/Image/update.img.xz
          if-no-files-found: error

      - name: Clean cache
        shell: bash
        run: sync && sudo rm -rf output && sync
